#	files with the following extensions are not added to the version control

*.iml
**/.idea
**/out/*


#lab2a ignores

lab2a/*/out/*
lab2a/part1/output.txt
lab2a/part2/TGenout.txt
lab2a/part2/TSinkout.txt
lab2a/part3/BC-pAug89-small.TL